<%= form_for @item, :html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :image%>
    </br> 
    <%= f.file_field :image %>  
  </p>
  <p><%= f.submit %></p>
<% end %>
